@media only screen and (max-width: 767px) {
	header {
		max-height: auto;
		background-color: gray;
		background-image: url("https://backgroundimage.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		background-size: cover;
	}


}
