@media only screen and (max-width: 767px) {
	header {
		max-height: auto;
		background-color: gray;
		background-image: url("https://multicdn-eu.synq.fm/videos/40/98/40983c1d-0007-4276-b2c9-ece9a758780e/thumbnails/74fe534e-ebbb-4d5f-8ad0-1b0b331b1ac5.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		background-size: cover;
	}


}
